{% if errors is defined %}
<script type="text/javascript">
	validation_errors = {{ errors|json_encode|raw }};
	messages = {
		'required': "{% trans "This field is required." %}",
		'already_exists': "{% trans "The e-mail address has already been entered before." %}",
		'invalid_email': "{% trans "The e-mail address is invalid." %}"
	}

	$(document).ready(function() {
		$.each( validation_errors, function(index, value) {
			$("[name='object[" + index + "]']").parents('.form-group').addClass('has-error');
			$("[name='object[" + index + "]']").after('<div class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span>' + messages[value] + '</div>');
		});
	});
</script>
{% endif %}


{% if action == 'create' %}
	<ul class="breadcrumb">
		<li><a href="/">{% trans "Root" %}</a></li>
		<li><a href="{{ env.module.get_module_path() }}">{{ pager.get_classname()|capitalize }}</a></li>
		<li class="active">{% trans "Create" %} {{ pager.get_classname()|capitalize }} {{ object.id }}</li>
	</ul>

	{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "There were errors in the information you filled in." %} {% trans "Please review the input fields below." %}
		</div>
	{% endif %}

	<form class="form-horizontal form-condensed" method="post" action="{{ env.module.get_module_path() }}?action=create">
	<div class="panel panel-default">
		<div class="panel-heading">{% trans "Create" %} {{ pager.get_classname()|capitalize }}</div>
		<div class="panel-body">
			{% block form_create %}
				{% for definition in default_fields %}
					<div class="form-group">
						<label class="col-xs-3 control-label">{{ definition.field|capitalize }}</label>
						<div class="col-xs-9">
							<input type="text" name="object[{{ definition.field }}]" class="form-control" value="{{ attribute(object, definition.field) }}" />
						</div>
					</div>
				{% endfor %}
			{% endblock form_create %}

			<div class="form-group">
				<div class="col-xs-9 col-xs-offset-3">
					<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
				</div>
			</div>
		</div>
	</div>
	</form>
{% elseif action == 'edit' %}
	{% block page_edit %}
	<ul class="breadcrumb">
		<li><a href="/">{% trans "Root" %}</a></li>
		<li><a href="{{ env.module.get_module_path() }}">{{ pager.get_classname()|capitalize }}</a></li>
		<li class="active">{% trans "Edit" %} {{ pager.get_classname()|capitalize }} {{ object.id }}</li>
	</ul>

	{% if env.sticky_session.message == 'object_updated' %}
		<div class="alert alert-success">
			{% trans "The object has been updated successfully." %}
		</div>
	{% endif %}

	{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "There were errors in the information you filled in." %} {% trans "Please review the input fields below." %}
		</div>
	{% endif %}

	<form class="form-horizontal form-condensed" method="post" action="{{ env.module.get_module_path() }}?action=edit&id={{ object.id }}">
	<div class="panel panel-default">
		<div class="panel-heading">{% trans "Edit" %} {{ pager.get_classname()|capitalize }} {{ object.id }}</div>
		<div class="panel-body">
			{% block form_edit %}
				{% for definition in default_fields %}
					<div class="form-group">
						<label class="col-xs-3 control-label">{{ definition.field|capitalize }}</label>
						<div class="col-xs-9">
							<input type="text" name="object[{{ definition.field }}]" class="form-control" value="{{ attribute(object, definition.field) }}" />

						</div>
					</div>
				{% endfor %}
			{% endblock form_edit %}

			<div class="form-group">
				<div class="col-xs-9 col-xs-offset-3">
					<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	{% endblock page_edit %}
{% else %}
	<ul class="breadcrumb">
		<li><a href="/">{% trans "Root" %}</a></li>
		<li class="active">{{ pager.get_classname()|capitalize }}</li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-heading">{{ pager.get_classname()|capitalize }}</div>
		<div class="panel-body">
			<form action="{{ env.module.get_module_path() }}" method="post" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-2">{% trans "Search" %} </label>
					<div class="controls col-lg-10">
						<input type="text" class="form-control" name="search" value="{{ pager.get_search() }}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="controls col-lg-offset-2 col-lg-5">
						<button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			{{ pager.item_count }} {% if pager.item_count == 1 %}{% trans "result" %}{% else %}{% trans "results" %}{% endif %}

			<div class="pull-right">
				<a href="{{ env.module.get_module_path() }}?action=create">
					<span class="glyphicon glyphicon-plus-sign"></span>	{% trans "Add" %} {{ pager.get_classname() }}
				</a>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					{% block pager_table_head %}
						{% for definition in default_fields %}
							<th>{{ pager.create_header(definition.field, definition.field) }}</th>
						{% endfor %}
					{% endblock pager_table_head %}
					<th>&nbsp;</th>
					{% if deletables|length > 0 %}
						<th>&nbsp;</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for object in pager.items %}
					<tr>
						{% block pager_table_row %}
							{% for definition in default_fields %}
								<td>{{ attribute(object, definition.field) }}</td>
							{% endfor %}
						{% endblock pager_table_row %}
						<td>
							<a href="/{{ env.module.get_module_path() }}?action=edit&id={{ object.id }}" data-toggle="tooltip" title="{% trans "Edit object" %}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>

						{% if object.id in deletables %}
						<td>
							<a href="/{{ env.module.get_module_path() }}?action=delete&id={{ object.id }}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to delete this object?" %}">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
			</table>
			{{ pager.links|raw }}
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('a[data-confirm-message]').confirmModal();
		});
	</script>
{% endif %}
